#h_1 {
  background-color: #232323;
}

#h_1 h1 {
  color: white;
  font-size: 26px;
  font-weight: 800;
  font-family: 'Sawarabi Gothic', sans-serif;
}

#h_1 p {
  line-height: 22px;
  color: #dad7d7;
  font-size: 16px;
}

#h_1 .btn-instro {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 16px 22px 14px 22px;
  border: 2px solid #edb50c;
  background-color: transparent;
  -webkit-transition: .3s;
  transition: .3s;
  position: relative;
}

#h_1 .btn-instro a {
  color: #edb50c;
  font-size: 14px;
  -webkit-transition: .3s;
  transition: .3s;
}

#h_1 .btn-instro:after {
  position: absolute;
  content: '';
  width: 68px;
  height: 1px;
  background-color: #edb50c;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 90%;
}

#h_1 .btn-instro:hover {
  background-color: #edb50c;
}

#h_1 .btn-instro:hover a {
  color: white;
}

#h_1 #img_aboutus {
  position: relative;
  width: 90%;
  margin: auto;
  height: 386px;
  border: 6px #8a8a8a solid;
  cursor: -webkit-grab;
  cursor: grab;
}

#h_1 #img_aboutus:before {
  content: '';
  height: 86px;
  width: 1px;
  background-color: #8a8a8a;
  position: absolute;
  right: calc(100% + 20px);
  top: 26%;
}

#h_1 #img_aboutus p {
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0;
  top: 8%;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  left: -13.5%;
  color: #8a8a8a;
  font-size: 15px;
  font-weight: 600;
}

#h_1 #img_aboutus:hover .img-bg {
  top: 0%;
  left: 0%;
}

#h_1 #img_aboutus .img-bg {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  -webkit-transition: .3s;
  transition: .3s;
}

@media only screen and (max-width: 800px) {
  #h_1 #img_aboutus p {
    left: -20.5%;
  }
}

#h_2 {
  background-position: center center;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}

#h_2 #h_2_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(237, 213, 49, 0.93);
  z-index: 0;
  top: 0;
  left: 0;
}

#h_2 h3 {
  padding-top: 58px;
  padding-bottom: 58px;
  font-size: 28px;
  font-weight: 600;
  font-family: 'Sawarabi Gothic', sans-serif;
  /*font-family: 'Lalezar', cursive;*/
  color: white;
}

#h_2 div a {
  font-size: 23px;
  color: white;
  /*font-weight: 600;*/
}

#h_2 div a span {
  font-family: 'Lalezar', cursive;
  font-size: 32px;
}

#h_2 div .btn-call {
  border: 2px solid white;
  padding: 10px 20px 8px 20px;
}

@media only screen and (max-width: 800px) {
  #h_2 h3 {
    padding-bottom: 38px;
    padding-top: 38px;
    font-size: 22px;
    line-height: 32px;
  }
  #h_2 div.btn-call {
    margin-bottom: 38px;
  }
}

#h_3 {
  background-size: cover;
  background-color: #515151;
  color: #2a2a2a;
  padding-top: 68px;
  padding-bottom: 68px;
  color: whitesmoke;
}

#h_3 a {
  color: whitesmoke;
}

#h_3 h3 {
  font-size: 24px;
  position: relative;
}

#h_3 h3:before {
  position: absolute;
  content: '';
  height: 3px;
  width: 58px;
  background-color: #fff;
  top: 130%;
  left: 48%;
  -webkit-transform: skewX(38deg) translateX(-50%);
          transform: skewX(38deg) translateX(-50%);
}

#h_3 h3:after {
  position: absolute;
  content: '';
  height: 3px;
  width: 38px;
  background-color: #edb50c;
  top: 130%;
  left: calc(45% + 66px);
  /*transform: translateX(-40%);*/
  -webkit-transform: skewX(38deg);
          transform: skewX(38deg);
}

#h_3 h3 span {
  color: #edb50c;
}

#h_3 h4 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-top: 26px;
  font-size: 20px;
}

#h_3 h4 span {
  color: #edb50c;
}

#h_3 p {
  width: 90%;
  margin: auto;
  font-size: 12px;
  line-height: 20px;
  padding-top: 10px;
}

#h_3 .thuc-hien {
  position: relative;
  width: 90%;
  margin: auto;
  height: 218px;
  border: 5px whitesmoke solid;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

#h_3 .thuc-hien:hover {
  /*overflow: hidden;*/
}

#h_3 .thuc-hien:hover .img-bg {
  top: 0%;
  left: 0%;
  /*transform: scale(1.2);*/
}

#h_3 .img-bg {
  position: absolute;
  top: 5%;
  left: 4%;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  -webkit-transition: .3s;
  transition: .3s;
  /*transform: scale(1.2);*/
}

#h_3 .btn-xct {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-top: 30px;
  padding: 16px 0px 14px 0px;
  border: 2px solid #edb50c;
  background-color: transparent;
  -webkit-transition: .3s;
  transition: .3s;
  position: relative;
}

#h_3 .btn-xct:after {
  position: absolute;
  content: '';
  width: 38px;
  height: 1px;
  background-color: #edb50c;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 90%;
}

#h_3 .btn-xct a {
  color: #edb50c;
  font-size: 14px;
  -webkit-transition: .3s;
  transition: .3s;
  padding: 16px 22px 14px 22px;
}

#h_3 .btn-xct:hover {
  background-color: #edb50c;
}

#h_3 .btn-xct:hover a {
  color: whitesmoke;
}

@media only screen and (max-width: 800px) {
  #h_3 h3:before {
    position: absolute;
    content: '';
    height: 3px;
    width: 58px;
    background-color: #fff;
    top: 130%;
    left: 42%;
    -webkit-transform: skewX(38deg) translateX(-50%);
            transform: skewX(38deg) translateX(-50%);
  }
  #h_3 h3:after {
    position: absolute;
    content: '';
    height: 3px;
    width: 38px;
    background-color: #edb50c;
    top: 130%;
    left: calc(45% + 16px);
    /*transform: translateX(-40%);*/
    -webkit-transform: skewX(38deg);
            transform: skewX(38deg);
  }
  #h_3 .btn-xct {
    margin-bottom: 30px;
  }
}

.nav-tabs {
  border-bottom: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  text-align: center;
}

.nav-tabs .nav-item a.nav-link {
  font-size: 13px;
  margin-right: 1px;
  border: none;
  -webkit-transition: .3s;
  transition: .3s;
}

.nav-tabs .nav-item a.nav-link.active {
  color: white !important;
  background-color: #edb50c;
  border-radius: 0;
  border: none;
}

.nav-tabs .nav-item a.nav-link:hover {
  color: white !important;
  background-color: #b6a338;
  border-radius: 0;
  border: none;
}

.btn-xtcdan {
  padding: 10px 20px 8px 20px;
  color: #edb50c !important;
  border: 2px solid #edb50c;
  font-size: 14px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  -webkit-transition: .3s;
  transition: .3s;
}

.btn-xtcdan i {
  font-size: 16px;
}

.btn-xtcdan:hover {
  background-color: #edb50c !important;
  color: white !important;
}

.tab-content .du-an {
  width: 100%;
  border: 2px solid white;
  min-height: 168px;
  overflow: hidden;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
  position: relative;
  transition: .3s;
}

.tab-content .du-an .du-an-overlay {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-transition: .3s;
  transition: .3s;
  position: relative;
}

.tab-content .du-an a {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 10%;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  z-index: 3;
  font-size: 15px;
  color: #f5d314 !important;
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0;
  font-weight: 600;
}

.tab-content .du-an a:hover {
  color: white !important;
}

.tab-content .du-an:hover a {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 10%;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  z-index: 2;
  font-size: 14px;
  color: #f5d314 !important;
  opacity: 1;
}

.tab-content .du-an:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  /*opacity: 0;*/
  z-index: 0;
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0;
}

.tab-content .du-an:hover:after {
  opacity: 1;
}

.tab-content .du-an:before {
  position: absolute;
  content: '';
  width: 95%;
  height: 95%;
  /*background-color: rgba(00,00,00,0.5);*/
  border: 2px dashed #edb50c;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 1;
  -webkit-transition: .3s;
  transition: .3s;
}

.tab-content .du-an:hover:before {
  opacity: 1;
}

.tab-content .du-an:hover .du-an-overlay {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

@media only screen and (max-width: 800px) {
  .nav-tabs .nav-item {
    width: 50%;
    margin-bottom: 1px;
  }
  .nav-tabs .nav-item a.nav-link {
    background-color: #87711d;
    border-radius: 0;
  }
}

#h_5 {
  background-color: #232323;
  padding-top: 58px;
  padding-bottom: 68px;
  color: white;
}

#h_5 h3 {
  font-size: 26px;
  padding-bottom: 10px;
  font-weight: 500;
}

#h_5 span {
  color: #edb50c;
}

#h_5 p {
  max-width: 320px;
  margin: auto;
  line-height: 20px;
  font-size: 16px;
}

#h_5 .quy_trinh {
  position: relative;
  width: 90%;
  margin: auto;
  min-height: 138px;
  height: auto;
  border: 2px solid #8a8a8a;
  text-align: center;
}

#h_5 .quy_trinh p {
  font-size: 14px;
}

#h_5 .quy_trinh i {
  font-size: 30px;
  padding-bottom: 16px;
  color: #edb50c;
}

#h_5 .quy_trinh2:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 20px;
  border: 2px dotted #edb50c;
  border-bottom: none;
  bottom: 100%;
  left: 63%;
  /*background-color: #6c757d;*/
}

#h_5 .quy_trinh1:after, #h_5 .quy_trinh3:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 20px;
  border: 2px dotted #edb50c;
  border-top: none;
  top: 100%;
  left: 63%;
  /*background-color: #6c757d;*/
}

@media only screen and (max-width: 800px) {
  #h_5 .quy_trinh1:after, #h_5 .quy_trinh3:after {
    position: absolute;
    content: '';
    height: 100%;
    width: 20px;
    border: 2px dotted #edb50c;
    border-left: none;
    left: 100%;
    top: 63%;
    /*background-color: #6c757d;*/
  }
  #h_5 .quy_trinh {
    margin-bottom: 20px;
  }
  #h_5 .quy_trinh2:after {
    position: absolute;
    content: '';
    height: 100%;
    width: 20px;
    border: 2px dotted #edb50c;
    border-right: none;
    top: 63%;
    left: -20px;
    /*background-color: #6c757d;*/
  }
}

#h_6 {
  background-size: cover;
  background-color: #515151;
  color: #2a2a2a;
  padding-top: 68px;
  padding-bottom: 68px;
}

#h_6 h3 {
  font-size: 24px;
  color: white;
}

#h_6 h3 span {
  color: #edb50c;
}

#h_6 p {
  max-width: 310px;
  font-size: 15px;
  color: whitesmoke;
  line-height: 20px;
  margin: auto;
  padding-top: 10px;
}

#h_6 #owl_ykkh .owl-items {
  height: 200px;
  width: auto;
  background-color: #1c1c1c;
  overflow: hidden;
}

#h_6 #owl_ykkh .owl-items p i {
  color: #edb50c;
  font-size: 26px;
}

#h_6 #owl_ykkh .owl-items h5 {
  color: #edb50c;
  font-size: 16px;
}

#h_6 #owl_ykkh .owl-items span {
  color: whitesmoke;
  font-size: 12px;
}

#h_6 #owl_ykkh .owl-items .owl-img {
  height: 100%;
  width: 168px;
  background-position: center center;
  background-size: cover;
  position: relative;
}

#h_6 #owl_ykkh .owl-items .owl-img:after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  right: 0;
  top: 18%;
  border-top: 10px solid transparent;
  border-right: 10px solid #1c1c1c;
  border-bottom: 10px solid transparent;
}

@media only screen and (max-width: 800px) {
  #h_6 #owl_ykkh .owl-items {
    height: auto;
  }
  #h_6 #owl_ykkh .owl-items h5 {
    margin-right: 20px;
    padding-bottom: 10px;
  }
  #h_6 #owl_ykkh .owl-items span {
    color: whitesmoke;
    font-size: 12px;
  }
  #h_6 #owl_ykkh .owl-items .owl-img {
    height: 168px;
    width: 168px;
    border-radius: 50%;
    margin-top: 20px;
  }
}
