@font-face {
  font-family: UTMAVO;
  src: url("../fonts/utm-avo.ttf");
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Fira Sans", sans-serif !important;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a, a:hover, a:active {
  text-decoration: none !important;
}

img {
  width: 100%;
}

.card {
  border: none;
  background-color: inherit;
  border-radius: 0;
}

.card .card-body {
  padding: 0;
}

.card .card-footer {
  padding: 0;
  background-color: inherit;
  border: none;
}

.callback {
  position: fixed;
  left: -30px;
  bottom: -20px;
  z-index: 100;
}

.phone_animation {
  background-color: transparent;
  width: 200px;
  height: 200px;
  cursor: pointer;
  z-index: 200000 !important;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -webkit-transition: visibility .5s;
  transition: visibility .5s;
  visibility: visible;
  margin: 0 auto;
}

.phone_animation a {
  color: white;
}

.phone_animation_circle {
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  position: absolute;
  background-color: transparent;
  border-radius: 100%;
  border: 2px solid rgba(30, 30, 30, 0.4);
  opacity: 0.5;
  -webkit-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
          animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  border-color: #00aff2;
}

.phone_animation_circle_fill {
  width: 100px;
  height: 100px;
  top: 50px;
  left: 50px;
  position: absolute;
  background-color: #00aff2;
  border-radius: 100%;
  border: 2px solid transparent;
  opacity: .2;
  -webkit-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
          animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.phone_animation_circle_fill_img {
  background-size: 70%;
  width: 60px;
  height: 60px;
  top: 70px;
  left: 70px;
  position: absolute;
  border-radius: 100%;
  border: 2px solid transparent;
  -webkit-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
          animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  background-color: #00afef;
  text-align: center;
  line-height: 60px;
  color: #FFF;
  font-size: 30px;
  display: block;
}

@-webkit-keyframes coccoc-alo-circle-anim {
  0% {
    -webkit-transform: rotate(0) scale(0.5) skew(1deg);
    -webkit-opacity: .1;
  }
  30% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    -webkit-opacity: .5;
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    -webkit-opacity: .1;
  }
}

@-webkit-keyframes coccoc-alo-circle-fill-anim {
  0% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: .2;
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    opacity: .2;
  }
  100% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: .2;
  }
}

@-webkit-keyframes coccoc-alo-circle-img-anim {
  0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
}

.m-category-layout {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.m-category-layout .m-item-category {
  -ms-flex-preferred-size: 160px !important;
      flex-basis: 160px !important;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}

.m-category-layout .m-item-category .img-category {
  height: 88px;
  width: 88px;
  margin: auto auto 12px;
  border-radius: 50%;
  margin-top: 20px;
}

.m-category-layout .m-item-category .m-item-category-0 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.m-category-layout .m-item-category .m-item-category-0 a {
  text-align: center;
}

.m-category-layout .m-item-category .m-item-category-0 a span {
  width: 100%;
  display: block;
}

@media screen and (max-width: 768px) {
  .m-category-layout {
    margin-top: 30px;
  }
}

/* Sidebar
-----------------------------------------------------------------------------------------*/
.menusign {
  display: block;
  width: 10px;
  line-height: .3;
  font-size: 2em;
  margin: .5em;
}

.menusign br {
  height: 0;
}

.sidebar {
  position: fixed;
  z-index: 9999999;
  left: 0;
  top: 0;
  height: 100%;
  width: 260px;
  background: white;
  -webkit-transition: left 0.3s ease, -webkit-box-shadow 0.3s ease 0.2s;
  transition: left 0.3s ease, -webkit-box-shadow 0.3s ease 0.2s;
  transition: left 0.3s ease, box-shadow 0.3s ease 0.2s;
  transition: left 0.3s ease, box-shadow 0.3s ease 0.2s, -webkit-box-shadow 0.3s ease 0.2s;
  -webkit-box-shadow: 0.5em 0 0 0 #f2b142, 0.6em 0 0 0 #f2b142;
  box-shadow: 0.5em 0 0 0 #f2b142, 0.6em 0 0 0 #f2b142;
}

.sidebar.closed {
  left: -260px;
  -webkit-box-shadow: 0 0 0 #1ba8ff;
  box-shadow: 0 0 0 #1ba8ff;
}

.sidebar h2 {
  padding: .5em;
  color: #1abc9c;
}

.sidebar ul {
  padding: 0;
  padding-top: 50px;
  padding-bottom: 30px;
  margin: 0;
}

.sidebar ul li {
  width: 90%;
  margin: 5px 10px;
  display: inline-block;
  margin-bottom: 0;
  font-weight: bolder;
  text-align: left;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 3px 6px;
  font-size: 16px;
  line-height: 1.8;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #f3f3f3;
}

.sidebar .sidebar-sub-heading {
  border-top: 1px solid #e0e0e0;
  color: #757575;
  display: block;
  padding: 16px;
  font-size: 16px;
  font-weight: bolder;
}

.sidebar .sidebar-hotline {
  font-size: 16px;
  font-weight: bolder;
  padding: 16px;
  color: #757575;
}

.sidebar .sidebar-hotline .sidebar-number {
  color: #1ba8ff;
}

.sidebar .icon-sidebar {
  width: 56px;
}

.sidebar ul li a {
  color: #757575;
  text-decoration: none;
}

.sidebar .background-sidebar {
  background-image: url(../images/logo/logo_footer.png);
  height: calc(56px*4);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-color: white;
}

.footer a {
  color: #17a689;
}

/* Blurred class

This class is added to the container
(#blurMe) when the sidebar is open.
-----------------------------------*/
.blurred {
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* Logo effect
-----------------------------*/
@-webkit-keyframes blur {
  66% {
    -webkit-filter: blur(1px);
    filter: blur(1px);
    -webkit-filter: url(#blurLogo);
    filter: url(#blurLogo);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='1');
  }
}

@keyframes blur {
  66% {
    -webkit-filter: blur(1px);
    filter: blur(1px);
    -webkit-filter: url(#blurLogo);
    filter: url(#blurLogo);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='1');
  }
}

#menu #menu_top {
  background-color: #F2F2F2;
}

#menu #menu_top img.menu_logo {
  height: 50px;
}

#menu #menu_top ul.menu-search {
  display: block;
  height: 46px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
  width: 100%;
}

#menu #menu_top ul.menu-search li input {
  height: 49px;
  width: 100%;
  display: block;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: white;
  color: #333333;
  border: none;
}

#menu #menu_top ul.menu-search li a {
  padding: 15px;
  background-color: #f2b142;
  color: #fff;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  height: 47px;
  float: left;
}

#menu #menu_logo_center img {
  width: inherit;
}

#menu #menu_bottom {
  background-color: green;
}

#menu #menu_bottom .is_active {
  background-color: #f2b142;
}

#menu #menu_bottom ul.main_menu {
  display: block;
}

#menu #menu_bottom ul.main_menu li {
  display: inline-block;
  padding: 15px;
  position: relative;
}

#menu #menu_bottom ul.main_menu li i {
  color: white;
  font-size: 16px;
  padding-right: 6px;
}

#menu #menu_bottom ul.main_menu li a {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

#menu #menu_bottom ul.main_menu li:hover {
  background-color: #f2b142;
}

#menu #menu_bottom ul.main_menu li.has-item-down {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#menu #menu_bottom ul.main_menu li.has-item-down ul {
  position: absolute;
  opacity: 0;
  display: none;
  background-color: #f2b142;
  top: 100%;
  left: 0;
  z-index: 9;
  width: 160%;
}

#menu #menu_bottom ul.main_menu li.has-item-down ul li {
  display: block;
  padding-left: 10px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#menu #menu_bottom ul.main_menu li.has-item-down ul li:hover {
  padding-left: 20px;
}

#menu #menu_bottom ul.main_menu li.has-item-down:hover > ul {
  display: block;
  opacity: 1;
}

#menu #menu_bottom ul.main_menu ul.menu-search {
  display: block;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
  width: 100%;
}

#menu #menu_bottom ul.main_menu ul.menu-search li.li-search {
  padding: 0;
}

#menu #menu_bottom ul.main_menu ul.menu-search li.li-search input {
  height: 46px;
  width: 100%;
  display: block;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: white;
  color: #333333;
  border: 1px solid #019934;
  border-left: none;
}

#menu #menu_bottom ul.main_menu ul.menu-search li.li-search a {
  padding: 16px;
  background-color: #f2b142;
  color: #fff;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  height: 46px;
}

#h_1 {
  background-color: #232323;
}

#h_1 h1 {
  color: white;
  font-size: 26px;
  font-weight: 800;
  font-family: 'Sawarabi Gothic', sans-serif;
}

#h_1 p {
  line-height: 22px;
  color: #dad7d7;
  font-size: 16px;
}

#h_1 .btn-instro {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 16px 22px 14px 22px;
  border: 2px solid #edb50c;
  background-color: transparent;
  -webkit-transition: .3s;
  transition: .3s;
  position: relative;
}

#h_1 .btn-instro a {
  color: #edb50c;
  font-size: 14px;
  -webkit-transition: .3s;
  transition: .3s;
}

#h_1 .btn-instro:after {
  position: absolute;
  content: '';
  width: 68px;
  height: 1px;
  background-color: #edb50c;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 90%;
}

#h_1 .btn-instro:hover {
  background-color: #edb50c;
}

#h_1 .btn-instro:hover a {
  color: white;
}

#h_1 #img_aboutus {
  position: relative;
  width: 90%;
  margin: auto;
  height: 386px;
  border: 6px #8a8a8a solid;
  cursor: -webkit-grab;
  cursor: grab;
}

#h_1 #img_aboutus:before {
  content: '';
  height: 86px;
  width: 1px;
  background-color: #8a8a8a;
  position: absolute;
  right: calc(100% + 20px);
  top: 26%;
}

#h_1 #img_aboutus p {
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0;
  top: 8%;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  left: -13.5%;
  color: #8a8a8a;
  font-size: 15px;
  font-weight: 600;
}

#h_1 #img_aboutus:hover .img-bg {
  top: 0%;
  left: 0%;
}

#h_1 #img_aboutus .img-bg {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  -webkit-transition: .3s;
  transition: .3s;
}

@media only screen and (max-width: 800px) {
  #h_1 #img_aboutus p {
    left: -20.5%;
  }
}

#h_2 {
  background-position: center center;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}

#h_2 #h_2_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(237, 213, 49, 0.93);
  z-index: 0;
  top: 0;
  left: 0;
}

#h_2 h3 {
  padding-top: 58px;
  padding-bottom: 58px;
  font-size: 28px;
  font-weight: 600;
  font-family: 'Sawarabi Gothic', sans-serif;
  /*font-family: 'Lalezar', cursive;*/
  color: white;
}

#h_2 div a {
  font-size: 23px;
  color: white;
  /*font-weight: 600;*/
}

#h_2 div a span {
  font-family: 'Lalezar', cursive;
  font-size: 32px;
}

#h_2 div .btn-call {
  border: 2px solid white;
  padding: 10px 20px 8px 20px;
}

@media only screen and (max-width: 800px) {
  #h_2 h3 {
    padding-bottom: 38px;
    padding-top: 38px;
    font-size: 22px;
    line-height: 32px;
  }
  #h_2 div.btn-call {
    margin-bottom: 38px;
  }
}

#h_3 {
  background-size: cover;
  background-color: #515151;
  color: #2a2a2a;
  padding-top: 68px;
  padding-bottom: 68px;
  color: whitesmoke;
}

#h_3 a {
  color: whitesmoke;
}

#h_3 h3 {
  font-size: 24px;
  position: relative;
}

#h_3 h3:before {
  position: absolute;
  content: '';
  height: 3px;
  width: 58px;
  background-color: #fff;
  top: 130%;
  left: 48%;
  -webkit-transform: skewX(38deg) translateX(-50%);
          transform: skewX(38deg) translateX(-50%);
}

#h_3 h3:after {
  position: absolute;
  content: '';
  height: 3px;
  width: 38px;
  background-color: #edb50c;
  top: 130%;
  left: calc(45% + 66px);
  /*transform: translateX(-40%);*/
  -webkit-transform: skewX(38deg);
          transform: skewX(38deg);
}

#h_3 h3 span {
  color: #edb50c;
}

#h_3 h4 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-top: 26px;
  font-size: 20px;
}

#h_3 h4 span {
  color: #edb50c;
}

#h_3 p {
  width: 90%;
  margin: auto;
  font-size: 12px;
  line-height: 20px;
  padding-top: 10px;
}

#h_3 .thuc-hien {
  position: relative;
  width: 90%;
  margin: auto;
  height: 218px;
  border: 5px whitesmoke solid;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

#h_3 .thuc-hien:hover {
  /*overflow: hidden;*/
}

#h_3 .thuc-hien:hover .img-bg {
  top: 0%;
  left: 0%;
  /*transform: scale(1.2);*/
}

#h_3 .img-bg {
  position: absolute;
  top: 5%;
  left: 4%;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  -webkit-transition: .3s;
  transition: .3s;
  /*transform: scale(1.2);*/
}

#h_3 .btn-xct {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-top: 30px;
  padding: 16px 0px 14px 0px;
  border: 2px solid #edb50c;
  background-color: transparent;
  -webkit-transition: .3s;
  transition: .3s;
  position: relative;
}

#h_3 .btn-xct:after {
  position: absolute;
  content: '';
  width: 38px;
  height: 1px;
  background-color: #edb50c;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 90%;
}

#h_3 .btn-xct a {
  color: #edb50c;
  font-size: 14px;
  -webkit-transition: .3s;
  transition: .3s;
  padding: 16px 22px 14px 22px;
}

#h_3 .btn-xct:hover {
  background-color: #edb50c;
}

#h_3 .btn-xct:hover a {
  color: whitesmoke;
}

@media only screen and (max-width: 800px) {
  #h_3 h3:before {
    position: absolute;
    content: '';
    height: 3px;
    width: 58px;
    background-color: #fff;
    top: 130%;
    left: 42%;
    -webkit-transform: skewX(38deg) translateX(-50%);
            transform: skewX(38deg) translateX(-50%);
  }
  #h_3 h3:after {
    position: absolute;
    content: '';
    height: 3px;
    width: 38px;
    background-color: #edb50c;
    top: 130%;
    left: calc(45% + 16px);
    /*transform: translateX(-40%);*/
    -webkit-transform: skewX(38deg);
            transform: skewX(38deg);
  }
  #h_3 .btn-xct {
    margin-bottom: 30px;
  }
}

.nav-tabs {
  border-bottom: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  text-align: center;
}

.nav-tabs .nav-item a.nav-link {
  font-size: 13px;
  margin-right: 1px;
  border: none;
  -webkit-transition: .3s;
  transition: .3s;
}

.nav-tabs .nav-item a.nav-link.active {
  color: white !important;
  background-color: #edb50c;
  border-radius: 0;
  border: none;
}

.nav-tabs .nav-item a.nav-link:hover {
  color: white !important;
  background-color: #b6a338;
  border-radius: 0;
  border: none;
}

.btn-xtcdan {
  padding: 10px 20px 8px 20px;
  color: #edb50c !important;
  border: 2px solid #edb50c;
  font-size: 14px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  -webkit-transition: .3s;
  transition: .3s;
}

.btn-xtcdan i {
  font-size: 16px;
}

.btn-xtcdan:hover {
  background-color: #edb50c !important;
  color: white !important;
}

.tab-content .du-an {
  width: 100%;
  border: 2px solid white;
  min-height: 168px;
  overflow: hidden;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
  position: relative;
  transition: .3s;
}

.tab-content .du-an .du-an-overlay {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-transition: .3s;
  transition: .3s;
  position: relative;
}

.tab-content .du-an a {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 10%;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  z-index: 3;
  font-size: 15px;
  color: #f5d314 !important;
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0;
  font-weight: 600;
}

.tab-content .du-an a:hover {
  color: white !important;
}

.tab-content .du-an:hover a {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 10%;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  z-index: 2;
  font-size: 14px;
  color: #f5d314 !important;
  opacity: 1;
}

.tab-content .du-an:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  /*opacity: 0;*/
  z-index: 0;
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0;
}

.tab-content .du-an:hover:after {
  opacity: 1;
}

.tab-content .du-an:before {
  position: absolute;
  content: '';
  width: 95%;
  height: 95%;
  /*background-color: rgba(00,00,00,0.5);*/
  border: 2px dashed #edb50c;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 1;
  -webkit-transition: .3s;
  transition: .3s;
}

.tab-content .du-an:hover:before {
  opacity: 1;
}

.tab-content .du-an:hover .du-an-overlay {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

@media only screen and (max-width: 800px) {
  .nav-tabs .nav-item {
    width: 50%;
    margin-bottom: 1px;
  }
  .nav-tabs .nav-item a.nav-link {
    background-color: #87711d;
    border-radius: 0;
  }
}

#h_4 h3 {
  text-align: center;
  font-size: 24px;
  position: relative;
  margin: 50px 0;
}

#h_4 h3:before {
  position: absolute;
  content: '';
  height: 3px;
  width: 58px;
  background-color: #fff;
  top: 130%;
  left: 48%;
  -webkit-transform: skewX(38deg) translateX(-50%);
          transform: skewX(38deg) translateX(-50%);
}

#h_4 h3:after {
  position: absolute;
  content: '';
  height: 3px;
  width: 38px;
  background-color: #edb50c;
  top: 130%;
  left: calc(45% + 66px);
  /*transform: translateX(-40%);*/
  -webkit-transform: skewX(38deg);
          transform: skewX(38deg);
}

#h_4 h3 span {
  color: #edb50c;
}

#h_4 .nav-tabs {
  border-bottom: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  text-align: center;
}

#h_4 .nav-tabs .nav-item a.nav-link {
  font-size: 13px;
  margin-right: 1px;
  border: none;
  -webkit-transition: .3s;
  transition: .3s;
}

#h_4 .nav-tabs .nav-item a.nav-link.active {
  color: white !important;
  background-color: #edb50c;
  border-radius: 0;
  border: none;
}

#h_4 .nav-tabs .nav-item a.nav-link:hover {
  color: white !important;
  background-color: #b6a338;
  border-radius: 0;
  border: none;
}

#h_4 .btn-xtcdan {
  padding: 10px 20px 8px 20px;
  color: #edb50c !important;
  border: 2px solid #edb50c;
  font-size: 14px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  -webkit-transition: .3s;
  transition: .3s;
}

#h_4 .btn-xtcdan i {
  font-size: 16px;
}

#h_4 .btn-xtcdan:hover {
  background-color: #edb50c !important;
  color: white !important;
}

#h_4 .tab-content .du-an {
  width: 100%;
  border: 2px solid white;
  min-height: 168px;
  overflow: hidden;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
  position: relative;
  transition: .3s;
}

#h_4 .tab-content .du-an .du-an-overlay {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-transition: .3s;
  transition: .3s;
  position: relative;
}

#h_4 .tab-content .du-an a {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 10%;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  z-index: 3;
  font-size: 15px;
  color: #f5d314 !important;
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0;
  font-weight: 600;
}

#h_4 .tab-content .du-an a:hover {
  color: white !important;
}

#h_4 .tab-content .du-an:hover a {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 10%;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  z-index: 2;
  font-size: 14px;
  color: #f5d314 !important;
  opacity: 1;
}

#h_4 .tab-content .du-an:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  /*opacity: 0;*/
  z-index: 0;
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0;
}

#h_4 .tab-content .du-an:hover:after {
  opacity: 1;
}

#h_4 .tab-content .du-an:before {
  position: absolute;
  content: '';
  width: 95%;
  height: 95%;
  /*background-color: rgba(00,00,00,0.5);*/
  border: 2px dashed #edb50c;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 1;
  -webkit-transition: .3s;
  transition: .3s;
}

#h_4 .tab-content .du-an:hover:before {
  opacity: 1;
}

#h_4 .tab-content .du-an:hover .du-an-overlay {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

#h_5 {
  background-color: #232323;
  padding-top: 58px;
  padding-bottom: 68px;
  color: white;
}

#h_5 h3 {
  font-size: 26px;
  padding-bottom: 10px;
  font-weight: 500;
}

#h_5 span {
  color: #edb50c;
}

#h_5 p {
  max-width: 320px;
  margin: auto;
  line-height: 20px;
  font-size: 16px;
}

#h_5 .quy_trinh {
  position: relative;
  width: 90%;
  margin: auto;
  min-height: 138px;
  height: auto;
  border: 2px solid #8a8a8a;
  text-align: center;
}

#h_5 .quy_trinh p {
  font-size: 14px;
}

#h_5 .quy_trinh i {
  font-size: 30px;
  padding-bottom: 16px;
  color: #edb50c;
}

#h_5 .quy_trinh2:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 20px;
  border: 2px dotted #edb50c;
  border-bottom: none;
  bottom: 100%;
  left: 63%;
  /*background-color: #6c757d;*/
}

#h_5 .quy_trinh1:after, #h_5 .quy_trinh3:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 20px;
  border: 2px dotted #edb50c;
  border-top: none;
  top: 100%;
  left: 63%;
  /*background-color: #6c757d;*/
}

@media only screen and (max-width: 800px) {
  #h_5 .quy_trinh1:after, #h_5 .quy_trinh3:after {
    position: absolute;
    content: '';
    height: 100%;
    width: 20px;
    border: 2px dotted #edb50c;
    border-left: none;
    left: 100%;
    top: 63%;
    /*background-color: #6c757d;*/
  }
  #h_5 .quy_trinh {
    margin-bottom: 20px;
  }
  #h_5 .quy_trinh2:after {
    position: absolute;
    content: '';
    height: 100%;
    width: 20px;
    border: 2px dotted #edb50c;
    border-right: none;
    top: 63%;
    left: -20px;
    /*background-color: #6c757d;*/
  }
}

#h_6 {
  background-size: cover;
  background-color: #515151;
  color: #2a2a2a;
  padding-top: 68px;
  padding-bottom: 68px;
}

#h_6 h3 {
  font-size: 24px;
  color: white;
}

#h_6 h3 span {
  color: #edb50c;
}

#h_6 p {
  max-width: 310px;
  font-size: 15px;
  color: whitesmoke;
  line-height: 20px;
  margin: auto;
  padding-top: 10px;
}

#h_6 #owl_ykkh .owl-items {
  height: 200px;
  width: auto;
  background-color: #1c1c1c;
  overflow: hidden;
}

#h_6 #owl_ykkh .owl-items p i {
  color: #edb50c;
  font-size: 26px;
}

#h_6 #owl_ykkh .owl-items h5 {
  color: #edb50c;
  font-size: 16px;
}

#h_6 #owl_ykkh .owl-items span {
  color: whitesmoke;
  font-size: 12px;
}

#h_6 #owl_ykkh .owl-items .owl-img {
  height: 100%;
  width: 168px;
  background-position: center center;
  background-size: cover;
  position: relative;
}

#h_6 #owl_ykkh .owl-items .owl-img:after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  right: 0;
  top: 18%;
  border-top: 10px solid transparent;
  border-right: 10px solid #1c1c1c;
  border-bottom: 10px solid transparent;
}

@media only screen and (max-width: 800px) {
  #h_6 #owl_ykkh .owl-items {
    height: auto;
  }
  #h_6 #owl_ykkh .owl-items h5 {
    margin-right: 20px;
    padding-bottom: 10px;
  }
  #h_6 #owl_ykkh .owl-items span {
    color: whitesmoke;
    font-size: 12px;
  }
  #h_6 #owl_ykkh .owl-items .owl-img {
    height: 168px;
    width: 168px;
    border-radius: 50%;
    margin-top: 20px;
  }
}

#a_1 {
  background-color: #232323;
}

#a_1 h1 {
  color: white;
  font-size: 26px;
  font-weight: 800;
  font-family: 'Sawarabi Gothic', sans-serif;
}

#a_1 p {
  line-height: 22px;
  color: #dad7d7;
  font-size: 15px;
}

#a_1 p i {
  font-size: 8px;
  padding-right: 6px;
  color: #edb50c;
}

#a_1 p span {
  color: #edb50c;
}

#a_1 .btn-instro {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 16px 22px 14px 22px;
  border: 2px solid #edb50c;
  background-color: transparent;
  -webkit-transition: .3s;
  transition: .3s;
  position: relative;
}

#a_1 .btn-instro:after {
  position: absolute;
  content: '';
  width: 68px;
  height: 1px;
  background-color: #edb50c;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 90%;
}

#a_1 .btn-instro a {
  color: #edb50c;
  font-size: 14px;
  -webkit-transition: .3s;
  transition: .3s;
}

#a_1 .btn-instro:hover {
  background-color: #edb50c;
}

#a_1 .btn-instro:hover a {
  color: white;
}

#a_1 #img_aboutus {
  position: relative;
  width: 90%;
  margin: auto;
  height: 386px;
  border: 6px #8a8a8a solid;
  cursor: -webkit-grab;
  cursor: grab;
}

#a_1 #img_aboutus:before {
  content: '';
  height: 86px;
  width: 1px;
  background-color: #8a8a8a;
  position: absolute;
  right: calc(100% + 20px);
  top: 26%;
}

#a_1 #img_aboutus p {
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0;
  top: 8%;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  left: -13.5%;
  color: #8a8a8a;
  font-size: 15px;
  font-weight: 600;
  margin: auto;
  margin-right: 20px;
}

#a_1 #img_aboutus:hover .img-bg {
  top: 0%;
  left: 0%;
}

#a_1 #img_aboutus .img-bg {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  -webkit-transition: .3s;
  transition: .3s;
}

@media only screen and (max-width: 800px) {
  #a_1 #img_aboutus p {
    left: -20.5%;
  }
}

#a_2 {
  background-size: cover;
  background-color: #515151;
  color: #2a2a2a;
  padding-top: 68px;
  padding-bottom: 68px;
  color: whitesmoke;
}

#a_2 a {
  color: whitesmoke;
}

#a_2 h3 {
  font-size: 24px;
  position: relative;
}

#a_2 h3:before {
  position: absolute;
  content: '';
  height: 3px;
  width: 58px;
  background-color: #fff;
  top: 130%;
  left: 48%;
  -webkit-transform: skewX(38deg) translateX(-50%);
          transform: skewX(38deg) translateX(-50%);
}

#a_2 h3:after {
  position: absolute;
  content: '';
  height: 3px;
  width: 38px;
  background-color: #edb50c;
  top: 130%;
  left: calc(45% + 66px);
  /*transform: translateX(-40%);*/
  -webkit-transform: skewX(38deg);
          transform: skewX(38deg);
}

#a_2 h3 span {
  color: #edb50c;
}

#a_2 h4 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-top: 26px;
  font-size: 20px;
}

#a_2 h4 span {
  color: #edb50c;
}

#a_2 p {
  width: 90%;
  margin: auto;
  font-size: 12px;
  line-height: 20px;
  padding-top: 10px;
}

#a_2 .thuc-hien {
  position: relative;
  width: 90%;
  margin: auto;
  height: 218px;
  border: 5px whitesmoke solid;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

#a_2 .thuc-hien:hover {
  /*overflow: hidden;*/
}

#a_2 .thuc-hien:hover .img-bg {
  top: 0%;
  left: 0%;
  /*transform: scale(1.2);*/
}

#a_2 .img-bg {
  position: absolute;
  top: 5%;
  left: 4%;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  -webkit-transition: .3s;
  transition: .3s;
  /*transform: scale(1.2);*/
}

#a_2 .btn-xct {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-top: 30px;
  padding: 16px 0px 14px 0px;
  border: 2px solid #edb50c;
  background-color: transparent;
  -webkit-transition: .3s;
  transition: .3s;
  position: relative;
}

#a_2 .btn-xct:after {
  position: absolute;
  content: '';
  width: 38px;
  height: 1px;
  background-color: #edb50c;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 90%;
}

#a_2 .btn-xct a {
  color: #edb50c;
  font-size: 14px;
  -webkit-transition: .3s;
  transition: .3s;
  padding: 16px 22px 14px 22px;
}

#a_2 .btn-xct:hover {
  background-color: #edb50c;
}

#a_2 .btn-xct:hover a {
  color: whitesmoke;
}

@media only screen and (max-width: 800px) {
  #a_2 h3:before {
    position: absolute;
    content: '';
    height: 3px;
    width: 58px;
    background-color: #fff;
    top: 130%;
    left: 42%;
    -webkit-transform: skewX(38deg) translateX(-50%);
            transform: skewX(38deg) translateX(-50%);
  }
  #a_2 h3:after {
    position: absolute;
    content: '';
    height: 3px;
    width: 38px;
    background-color: #edb50c;
    top: 130%;
    left: calc(45% + 16px);
    /*transform: translateX(-40%);*/
    -webkit-transform: skewX(38deg);
            transform: skewX(38deg);
  }
  #a_2 .btn-xct {
    margin-bottom: 30px;
  }
}

#c_1 {
  background-color: #2a2a2a;
  color: white;
}

#c_1 h3 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}

#c_1 h3 span {
  color: #edb50c;
}

#c_1 input {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 15px;
  color: #6c757d;
}

#c_1 input:focus {
  outline: none;
}

#c_1 textarea {
  padding: 10px 20px;
  width: 100%;
  font-size: 15px;
  color: #6c757d;
}

#c_1 a {
  padding: 10px 36px;
  background-color: #edb50c;
  color: white;
  border-radius: 20px;
  font-size: 15px;
}

#d_1 {
  background-color: #212121;
  padding-top: 68px;
  padding-bottom: 68px;
  color: white;
}

#d_1 h3 {
  position: relative;
  font-size: 22px;
}

#d_1 h3 span {
  /*font-size: 26px;*/
  color: #edb50c;
}

#d_1 #post_lq .tag-lienquan {
  float: left;
  margin: 3px 5px;
  /*border: 2px solid white;*/
  border-radius: 20px;
  /*padding: 10px 0px;*/
}

#d_1 #post_lq .tag-lienquan a {
  color: white;
  font-size: 13px;
  padding: 16px 5px;
  position: relative;
  -webkit-transition: .3s;
  transition: .3s;
}

#d_1 #post_lq .tag-lienquan a:hover {
  color: #edb50c;
}

#d_1 #post_lq .tag-lienquan a:before {
  content: '#';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  position: absolute;
  left: -3px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #edb50c;
  font-size: 12px;
  font-style: normal;
}

#d_1 #post_lq p {
  padding-left: 20px;
  font-size: 12px;
}

#d_1 #post_lq h5 {
  padding-left: 20px;
  font-size: 15px;
  padding-bottom: 6px;
}

#d_1 #post_lq h5 a {
  color: #edb50c;
  -webkit-transition: .3s;
  transition: .3s;
}

#d_1 #post_lq h5 a:hover {
  color: #b6a338;
}

#d_1 #post_lq .over-lay {
  width: 108px;
  height: 68px;
  border: 3px solid whitesmoke;
  position: relative;
  /*overflow: hidden;*/
}

#d_1 #post_lq .over-lay:hover .img-overlay {
  top: 0;
  left: 0;
}

#d_1 #post_lq .over-lay .img-overlay {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 6%;
  left: 6%;
  z-index: 1;
  -webkit-transition: .3s;
  transition: .3s;
}

#d_1 #post_lq h3:before {
  position: absolute;
  content: '';
  height: 3px;
  width: 38px;
  -webkit-transform: skewX(25deg);
          transform: skewX(25deg);
  background-color: #edb50c;
  bottom: -10px;
}

#d_1 #post_lq h3:after {
  position: absolute;
  content: '';
  height: 3px;
  width: 68px;
  -webkit-transform: skewX(25deg);
          transform: skewX(25deg);
  background-color: white;
  bottom: -10px;
  left: 42px;
}

#d_1 span.sm-title {
  font-size: 13px;
  color: #b3b2ae;
}

#d_1 p {
  font-size: 15px;
  line-height: 20px;
}

#d_1 p span {
  color: #edb50c;
}

#d_1 #owl_project .owl-items {
  width: 208px;
  height: 138px;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
  margin: auto;
}

#p_1 {
  background-size: cover;
  background-color: #515151;
  color: #2a2a2a;
  padding-top: 68px;
  padding-bottom: 68px;
  color: whitesmoke;
}

#p_1 a {
  color: whitesmoke;
}

#p_1 h3 {
  font-size: 24px;
  position: relative;
}

#p_1 h3:before {
  position: absolute;
  content: '';
  height: 3px;
  width: 58px;
  background-color: #fff;
  top: 130%;
  left: 48%;
  -webkit-transform: skewX(38deg) translateX(-50%);
          transform: skewX(38deg) translateX(-50%);
}

#p_1 h3:after {
  position: absolute;
  content: '';
  height: 3px;
  width: 38px;
  background-color: #edb50c;
  top: 130%;
  left: calc(45% + 66px);
  /*transform: translateX(-40%);*/
  -webkit-transform: skewX(38deg);
          transform: skewX(38deg);
}

#p_1 h3 span, #p_1 h4 span {
  color: #edb50c;
}

#p_1 h4 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-top: 26px;
  font-size: 20px;
}

#p_1 p {
  width: 90%;
  margin: auto;
  font-size: 12px;
  line-height: 20px;
  padding-top: 10px;
}

#p_1 .thuc-hien {
  position: relative;
  width: 90%;
  margin: auto;
  height: 218px;
  border: 5px whitesmoke solid;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

#p_1 .img-bg {
  position: absolute;
  top: 5%;
  left: 4%;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  -webkit-transition: .3s;
  transition: .3s;
  /*transform: scale(1.2);*/
}

#p_1:hover .img-bg {
  top: 0%;
  left: 0%;
  /*transform: scale(1.2);*/
}

#p_1 .btn-xct {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-top: 30px;
  padding: 16px 0px 14px 0px;
  border: 2px solid #edb50c;
  background-color: transparent;
  -webkit-transition: .3s;
  transition: .3s;
  position: relative;
}

#p_1 .btn-xct:after {
  position: absolute;
  content: '';
  width: 38px;
  height: 1px;
  background-color: #edb50c;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 90%;
}

#p_1 .btn-xct a {
  color: #edb50c;
  font-size: 14px;
  -webkit-transition: .3s;
  transition: .3s;
  padding: 16px 22px 14px 22px;
}

#p_1 .btn-xct:hover {
  background-color: #edb50c;
}

#p_1 .btn-xct:hover a {
  color: whitesmoke;
}

@media only screen and (max-width: 800px) {
  #p_1 h3:before {
    position: absolute;
    content: '';
    height: 3px;
    width: 58px;
    background-color: #fff;
    top: 130%;
    left: 42%;
    -webkit-transform: skewX(38deg) translateX(-50%);
            transform: skewX(38deg) translateX(-50%);
  }
  #p_1 h3:after {
    position: absolute;
    content: '';
    height: 3px;
    width: 38px;
    background-color: #edb50c;
    top: 130%;
    left: calc(45% + 16px);
    /*transform: translateX(-40%);*/
    -webkit-transform: skewX(38deg);
            transform: skewX(38deg);
  }
  #p_1 .btn-xct {
    margin-bottom: 30px;
  }
}

.nav-tabs {
  border-bottom: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  text-align: center;
}

.nav-tabs .nav-item a.nav-link {
  font-size: 13px;
  margin-right: 1px;
  border: none;
  -webkit-transition: .3s;
  transition: .3s;
}

.nav-tabs .nav-item a.nav-link.active {
  color: white !important;
  background-color: #edb50c;
  border-radius: 0;
  border: none;
}

.nav-tabs .nav-item a.nav-link:hover {
  color: white !important;
  background-color: #b6a338;
  border-radius: 0;
  border: none;
}

.btn-xtcdan {
  padding: 10px 20px 8px 20px;
  color: #edb50c !important;
  border: 2px solid #edb50c;
  font-size: 14px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  -webkit-transition: .3s;
  transition: .3s;
}

.btn-xtcdan i {
  font-size: 16px;
}

.btn-xtcdan:hover {
  background-color: #edb50c !important;
  color: white !important;
}

.tab-content .du-an {
  width: 100%;
  border: 2px solid white;
  min-height: 168px;
  overflow: hidden;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
  position: relative;
  transition: .3s;
}

.tab-content .du-an .du-an-overlay {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-transition: .3s;
  transition: .3s;
  position: relative;
}

.tab-content .du-an a {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 10%;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  z-index: 3;
  font-size: 15px;
  color: #f5d314 !important;
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0;
  font-weight: 600;
}

.tab-content .du-an a:hover {
  color: white !important;
}

.tab-content .du-an:hover a {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 10%;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  z-index: 2;
  font-size: 14px;
  color: #f5d314 !important;
  opacity: 1;
}

.tab-content .du-an:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  /*opacity: 0;*/
  z-index: 0;
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0;
}

.tab-content .du-an:hover:after {
  opacity: 1;
}

.tab-content .du-an:before {
  position: absolute;
  content: '';
  width: 95%;
  height: 95%;
  /*background-color: rgba(00,00,00,0.5);*/
  border: 2px dashed #edb50c;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 1;
  -webkit-transition: .3s;
  transition: .3s;
}

.tab-content .du-an:hover:before {
  opacity: 1;
}

.tab-content .du-an:hover .du-an-overlay {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

@media only screen and (max-width: 800px) {
  .nav-tabs .nav-item {
    width: 50%;
    margin-bottom: 1px;
  }
  .nav-tabs .nav-item a.nav-link {
    background-color: #87711d;
    border-radius: 0;
  }
}
