#h_4 {
  h3 {
    text-align: center;
    font-size: 24px;
    position: relative;
    margin: 50px 0;
    &:before {
      position: absolute;
      content: '';
      height: 3px;
      width: 58px;
      background-color: #fff;
      top: 130%;
      left: 48%;
      transform: skewX(38deg) translateX(-50%);
    }
    &:after {
      position: absolute;
      content: '';
      height: 3px;
      width: 38px;
      background-color: #edb50c;
      top: 130%;
      left: calc(45% + 66px);
      /*transform: translateX(-40%);*/
      transform: skewX(38deg);
    }

    span {
      color: #edb50c;
    }
  }
  .nav-tabs {
    border-bottom: none;
    width: fit-content;
    margin: auto;
    text-align: center;
    .nav-item a.nav-link {
      font-size: 13px;
      margin-right: 1px;
      border: none;
      transition: .3s;
    }
    .nav-item a.nav-link.active {
      color: white !important;
      background-color: #edb50c;
      border-radius: 0;
      border: none;
    }
    .nav-item a.nav-link:hover {
      color: white !important;
      background-color: #b6a338;
      border-radius: 0;
      border: none;
    }
  }

  .btn-xtcdan {
    padding: 10px 20px 8px 20px;
    color: #edb50c !important;
    border: 2px solid #edb50c;
    font-size: 14px;
    width: fit-content;
    margin: auto;
    transition: .3s;
    i {
      font-size: 16px;
    }
    &:hover {
      background-color: #edb50c !important;
      color: white !important;
    }
  }

  .tab-content {
    .du-an {
      width: 100%;
      border: 2px solid white;
      min-height: 168px;
      overflow: hidden;
      transition: .3s;
      cursor: pointer;
      position: relative;
      transition: .3s;
      .nav-btn {
        position: absolute;
        z-index: 10;
        top: calc(50%);
        left: 50%;
        transform: translateX(-50%);
        color: #f5d314;
        a.fancybox {
          i {
            float: left;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            border: 2px solid #f5d314;
            text-align: center;
            line-height: 26px;
            transition: .3s;
            opacity: 0;
            margin-top: 20px;
            transition: .3s;
            &:hover {
              background-color: #f5d314;
              color: white;
            }
          }
        }
        .xem-chitiet {
          float: right;
          min-width: 80px;
          text-align: center;
          border: 2px solid #f5d314;
          border-radius: 16px;
          position: relative;
          transition: .3s;
          margin-top: 26px;
          opacity: 0;
          &:hover {
            min-width: 80px;
            text-align: center;
            border: 2px solid #f5d314;
            background-color: #f5d314;
            border-radius: 16px;
            position: relative;
            transition: .3s;
            margin-top: 26px;
            opacity: 0;
          }
          &:hover a {
            color: white !important;
          }
          a {
            position: absolute !important;
            width: 100%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-size: 12px !important;
            top: 50%;
          }
        }
      }
      &:hover .nav-btn i {
        opacity: 1;
        margin-top: 0px;
      }
      &:hover .nav-btn .xem-chitiet {
        margin-top: 0px;
        opacity: 1;
      }
      .du-an-overlay {
        width: 100%;
        height: 100%;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        transition: .3s;
        position: relative;
      }

      a.title_pro_1 {
        position: absolute;
        width: 80%;
        text-align: center;
        left: 10%;
        top: 30%;
        transform: translate(-0%, -50%);
        z-index: 3;
        font-size: 15px;
        color: #f5d314 !important;
        transition: .3s;
        opacity: 0;
        font-weight: 600;
        &:hover {
          color: white !important;
        }
      }
      &:hover a.title_pro {
        position: absolute;
        width: 80%;
        text-align: center;
        left: 10%;
        top: 40%;
        transform: translate(-0%, -40%);
        z-index: 2;
        font-size: 14px;
        color: #f5d314 !important;
        opacity: 1;
      }
      &:after {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(00, 00, 00, 0.5);
        top: 0;
        left: 0;
        /*opacity: 0;*/
        z-index: 0;
        transition: .3s;
        opacity: 0;
      }
      &:hover:after {
        opacity: 1;
      }
      &:before {
        position: absolute;
        content: '';
        width: 95%;
        height: 95%;
        /*background-color: rgba(00,00,00,0.5);*/
        border: 2px dashed #edb50c;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        z-index: 1;
        transition: .3s;
      }
      &:hover:before {
        opacity: 1;
      }
      &:hover .du-an-overlay {
        transform: scale(1.3);
      }

    }

  }
}