#c_1{
  background-color: #2a2a2a;
  color: white;
  h3{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
    span{
      color: #edb50c;
    }
  }

  input{
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 15px;
    color: #6c757d;
    &:focus{
      outline: none;
    }
  }

  textarea{
    padding: 10px 20px;
    width: 100%;
    font-size: 15px;
    color: #6c757d;
  }
  a{
    padding: 10px 36px;
    background-color: #edb50c;
    color: white;
    border-radius: 20px;
    font-size: 15px;
  }
}
